*.exe
*.txt
*.~*
*.res
*.local
*.identcache
*.xml
*.dsk
*.tvsconfig
*.map
*.bpl
*.log
*.drc
Librerias/ModuloUtils/Win32/Release/ModuloUtils.bpi
*.lib
Librerias/**/*.dcu
UnitTests/**/*.dcu
Librerias/**/*.dcp
UnitTests/**/*.dcp